<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.ServicePropertyMapperDOMapper" >
  <resultMap id="BaseResultMap" type="com.springmvc.dbdo.ServicePropertyMapperDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_id" property="serviceId" jdbcType="INTEGER" />
    <result column="property_id" property="propertyId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, service_id, property_id, state
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_property_mapper
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_property_mapper
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.springmvc.dbdo.ServicePropertyMapperDO"
          useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
    insert into service_property_mapper (id, service_id, property_id, 
      state)
    values (#{id,jdbcType=INTEGER}, #{serviceId,jdbcType=INTEGER}, #{propertyId,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT})
  </insert>

  <insert id="insertSelective" parameterType="com.springmvc.dbdo.ServicePropertyMapperDO" >
    insert into service_property_mapper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="propertyId != null" >
        property_id,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null" >
        #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.dbdo.ServicePropertyMapperDO" >
    update service_property_mapper
    <set >
      <if test="serviceId != null" >
        service_id = #{serviceId,jdbcType=INTEGER},
      </if>
      <if test="propertyId != null" >
        property_id = #{propertyId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmvc.dbdo.ServicePropertyMapperDO" >
    update service_property_mapper
    set service_id = #{serviceId,jdbcType=INTEGER},
      property_id = #{propertyId,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="delByServiceId">

  </delete>

  <select id="queryByServiceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from service_property_mapper
    where service_id = #{serviceId,jdbcType=INTEGER}
  </select>
</mapper>